*.md text working-tree-encoding=UTF-8 eol=lf
*.ps1 text working-tree-encoding=UTF-8 eol=crlf
*.json text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf